// Stand-in for the AHK-era client (v0.1.3.x) in app_update_test: same version names, UTF-8 source.
#pragma code_page(65001)
1 VERSIONINFO
FILEVERSION 0,1,3,3
PRODUCTVERSION 0,1,3,3
FILEOS 0x40004
FILETYPE 0x1
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "080404B0"
  BEGIN
   VALUE "FileDescription", "DAF连发工具\0"
   VALUE "FileVersion", "0.1.3.3\0"
   VALUE "ProductName", "DAF连发工具\0"
   VALUE "ProductVersion", "0.1.3.3\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x804, 1200
 END
END
